<header>
  <div class="page-head bg-blog">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item ml-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
              <a class="nav-link" routerLink="/product">Catalog</a>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
              <a class="nav-link" *ngIf="!auth0Service.isAuthenticated()" (click)="login()">Login</a>
              <a class="nav-link" *ngIf="auth0Service.isAuthenticated()" (click)="logout()">Logout</a>
            </li>

            <li class="nav-item ml-3" routerLinkActive="active">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
              <a class="nav-link" href="https://github.com/SoriaDamian17/test-darwoft"><i class="fa fa-github"></i></a>
            </li>
            <li class="nav-item ml-3" *ngIf="auth0Service.isAuthenticated()" routerLinkActive="active">
              <!-- <a class="nav-link" href="/profile"><i class="fa fa-user"></i></a> -->
              <a class="btn btn-primary"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
              <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <app-jumbotron [title]="title" [subtitle]="subtitle"></app-jumbotron>
    </div>
  </div>
</header>
