<app-header title="Product" subtitle="Choose your favorite movie"></app-header>
<section id="product">
  <div class="container">
    <div class="product mt-5">
      <div class="row justify-content-center mx-auto">
        <div class="col-12 mb-5 text-center">
          <h1>{{item[0].Title}}</h1>
          <hr>
        </div>
        <div class="col-12 col-xl-8">
          <div class="col-6 float-left">
            ​<picture>
              <img [src]="item[0].Poster" class="img-fluid" [alt]="item[0].Title" />
            </picture>
          </div>
          <div class="col-6 float-left product-detail">
              <h4>Genre: <span>{{item[0].Genre}}</span></h4>
              <h4>Release year: <span>{{item[0].Year}}</span></h4>
              <h4>Running time: <span>{{item[0].Runtime}}</span></h4>
              <h4>Country: <span>{{item[0].Country}}</span></h4>
              <h4>Production: <span>{{item[0].Production}}</span></h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                Sed velit dignissim sodales ut eu sem integer. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum.
              </p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger btn-lg px-md-5 mr-3">Description</button>
          <button type="button" class="btn btn-outline-danger btn-lg px-md-5">Review (2)</button>
        </div>
      </div>
      <div class="row m-5">
        <div class="col-md-12 text-justify">
          {{item[0].Plot}}
        </div>
      </div>
    </div>
  </div>
</section>
