<app-header title="Product" subtitle="Choose your favorite movie"></app-header>
<section id="product" *ngIf="item | async as movie">
  <div class="container">
    <div class="product mt-5">
      <div class="row justify-content-center mx-auto">
        <div class="col-12 mb-5 text-center">
          <h1>{{movie.Title}}</h1>
          <hr>
        </div>
        <div class="col-12 col-xl-8">
          <div class="col-6 float-left">
            ​<picture>
              <img [src]="movie.Poster" class="img-fluid" [alt]="movie.Title" />
            </picture>
          </div>
          <div class="col-6 float-left product-detail">
            <h4>Genre: <span>{{movie.Genre}}</span></h4>
            <h4>Release year: <span>{{movie.Year}}</span></h4>
            <h4>Running time: <span>{{movie.Runtime}}</span></h4>
            <h4>Country: <span>{{movie.Country}}</span></h4>
            <h4>Production: <span>{{movie.Production}}</span></h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              Sed velit dignissim sodales ut eu sem integer. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum.
            </p>
            <button type="button" (click)="openModal()" class="btn btn-outline-danger px-md-5 mr-3">Trailer</button>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger btn-lg px-md-5 mr-3">Description</button>
          <button type="button" class="btn btn-outline-danger btn-lg px-md-5">Review (2)</button>
        </div>
      </div>
      <div class="row m-5">
        <div class="col-md-12 text-justify">
          {{movie.Plot}}
        </div>
      </div>
    </div>
  </div>
</section>
<app-modal id="movie-trailer"></app-modal>
