<app-header title="Cooming Soon" subtitle="Movies App"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Top Box Office</h1>
      <hr>
    </div>
    <div class="col-md-12 m-3 text-center">
        <a href="/product" class="btn btn-outline-danger btn-lg mr-3 px-md-5">Show Catalog</a>
    </div>
    <div class="col-md-3" *ngFor="let item of items[0];let i=index" style="width: 30rem;">
      <div *ngIf="i < 4">
        <app-card [item]="item"></app-card>
      </div>
    </div>
  </div>
</div>
