<div class="box-container">
  <div class="dialog">
    <div class="dialog--header">
      <div (click)="closeModal();" class="close">
          <svg style="width: 30px; height: 30px" viewBox="0 0 30 30">
              <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
          </svg>
      </div>
    </div>
    <div class="card mb-0">
      <iframe width="100%" height="auto"
          src="https://www.youtube.com/embed/OR-oxfedn8o"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
      </iframe>
    </div>
    <div class="dialog--footer"></div>
  </div>
</div>
