<app-header title="Product Catalog" subtitle="Chose your favorite movie"></app-header>
<div class="container">
  <div class="row product-wrap">
    <div class="col-md-12">
      <app-isotope (genero)="filterMovies($event)"></app-isotope>
    </div>
    <div class="col-md-12 m-3 text-right">
      <select class="form-control form-control-lg sort-list float-right"
              style="width: 10em;">
        <option value="">Sort List</option>
        <option value="Title">Title</option>
        <option value="Year">Year</option>
      </select>
    </div>
    <ng-container *ngIf="items$ | async as movies">
      <div class="col-md-3" *ngFor="let item of movies.Search" style="width: 30rem;">
        <app-card [item]="item" (emitViewDetail)="ViewDetail($event)"></app-card>
      </div>
    </ng-container>
    <div class="col-md-12">
      <app-pagination (page)="goPage($event)"></app-pagination>
    </div>
  </div>
</div>

