/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto Slab', serif;
}

hr {
  width: 100px;
  display: inline-block;
  border-bottom: 2px solid #b7b7b7;
  border-top: none;
  margin-bottom: 30px;
}

.bg-blog {
  background-image: url('https://raw.githubusercontent.com/SoriaDamian17/test-darwoft/dev/src/assets/images/blog-1.jpg');
}
